<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="programer" class="com.sameer.sameer.Programer" autowire="byType" scope="singleton">

        <property name="age" value="21"></property>
        <!-- <property name="com" ref="com"></property> -->
        <!-- <constructor-arg index="0" value="21"/>
        <constructor-arg index="1" ref="com"/>
        <constructor-arg index="1" ref="com2"/> -->

    </bean>



    <bean id="com" class="com.sameer.sameer.Laptop" scope="singleton">
    </bean>

    <bean id="com2" class="com.sameer.sameer.Desktop" primary="true" scope="singleton">
    </bean>

</beans>