<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="programer" class="com.sameer.sameer.Programer" scope="singleton">
        <!-- <property name="age" value="21"></property>
        <property name="lap" ref="laptop"></property> -->
        <constructor-arg index="0" value="21"/>
        <!-- <constructor-arg index="1" ref="laptop"/> -->
        <constructor-arg index="1" ref="desk"/>
    </bean>

    <bean id="laptop" class="com.sameer.sameer.Laptop" scope="singleton">
    </bean>

    <bean id="desk" class="com.sameer.sameer.Desktop" scope="singleton">
    </bean>

</beans>