<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="programer" class="com.sameer.sameer.Programer" scope="prototype">
        <property name="age" value="21"></property>
        <property name="lap" ref="laptop"></property>
    </bean>

    <bean id="laptop" class="com.sameer.sameer.Laptop" scope="singleton">
    </bean>

</beans>